.button {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: var(--textColor);
    background-color: #282c34;
    border-radius: 8px;
    padding: 15px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all .3s ease;
}

.button:hover {
    color: var(--textColorDark);
    background-color: #252b32;
}

@media (max-width: 425px){
    .button {
        border-radius: 8px;
        padding: 15px;
        font-size: 12px;
    }
}

@media (min-width: 2560px) {
    .button {
        border-radius: 15px;
        padding: 30px;
        font-size: 32px;
    }
}

/* ------------------------------------------ Button for mobile menu ------------------------------------ */

.menuButton {
    display: none;
}
@media (max-width: 425px) {
    .menuButton {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        color: var(--textColor);
        background-color: var(--bgColorDark);
        padding: 15px;
        height: 60px;
        border: 1px solid var(--textColor);
        border-left: none;
        border-right: none;
        transition: all .3s ease;
    }
}
